.gradle/
.idea/
/build/
/vendor/
/.tools/
/bin/
/.bin/
/tmp/
/.settings/

*.tmp
*.bak
*.swp
*.jar
!gradle-wrapper.jar

local.properties
.loadpath
.recommenders

/run.sh
*.env
!/example.env

.classpath
.project
.settings
*~
.*~
