##############################################################
##  Configuration values needed to run the example service  ##
##############################################################

LDAP_SERVER=ds4.apidb.org:389
ORACLE_BASE_DN=ou=applications,dc=apidb,dc=org

ACCT_DB_TNS_NAME=acctdbn
ACCT_DB_USER=rdoherty
ACCT_DB_PASS=

AUTH_SECRET_KEY=
ADMIN_AUTH_TOKEN=12345

OAUTH_URL=https://eupathdb.org/oauth
OAUTH_CLIENT_ID=veupathdbService
OAUTH_CLIENT_SECRET=
